<input class="c-search" type="text" ng-model="search" placeholder="Szukaj...">
<table class="c-table c-table--striped c-table--id">
    <thead>
        <tr>
            <th>Id <a href="" ng-click="order('customerId')" class="c-table__sort" ng-class="getClass('customerId')"></a></th>
            <th>E-mail <a href="" ng-click="order('eMail')" class="c-table__sort" ng-class="getClass('eMail')"></a></th>
            <th>Gender</th>
            <th>Postal code <a href="" ng-click="order('postCode')" class="c-table__sort" ng-class="getClass('postCode')"></a></th>
            <th>Education <a href="" ng-click="order('education')" class="c-table__sort" ng-class="getClass('education')"></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="customer in customers | orderBy:predicate:reverse | filter:search ">
            <td>{{ customer.customerId }}</td>
            <td ng-click="go('/customers/'+customer.customerId)">{{ customer.eMail }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.postCode }}</td>
            <td>{{ customer.education }}</td>
        </tr>
    </tbody>
</table>
