<section class="c-box">
    <h3>Obiecujący klienci</h3>
    <table class="c-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Płeć</th>
                <th>Kod pocztowy</th>
                <th>Edukacja</th>
                <th>Email <a href="" ng-click="order('eMail')" class="c-table__sort" ng-class="getClass('eMail')"></a></th>
                <th>Factor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in customers | orderBy:predicate:reverse">
                <td>{{ node.customer.id }}</td>
                <td>{{ node.customer.gender }}</td>
                <td>{{ node.customer.postCode }}</td>
                <td>{{ node.customer.education }}</td>
                <td>{{ node.customer.eMail }}</td>
                <td>{{ node.factor }}</td>
            </tr>
        </tbody>
    </table>
</section>
<div class="l-row">
    <div class="l-row__column">
        <section class="c-box">
            <h3>Najlepsze produkty</h3>
        </section>
    </div>
    <div class="l-row__column">
        <section class="c-box">
            <h3>Najlepsze produkty</h3>
        </section>
    </div>
</div>
